@model IEnumerable<WBD_ASPNET_MVC5.Models.DataFile>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Upload", "Upload")
</p>
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.DataName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadDate)
        </th>
        <th></th>
    </tr>*@
    <tr>
        <th>
            @Html.ActionLink("File Name", "Index", new { Sorting_Order = ViewBag.SortingName })
        </th>
        <th>
            @Html.ActionLink("Data Type", "Index", new { Sorting_Order = ViewBag.SortingType })
        </th>
        <th>

        </th>
        <th>
            @Html.ActionLink("Upload Date", "Index", new { Sorting_Order = ViewBag.SortingDate })
        </th>
        <th></th>
    </tr> 

    @foreach (var item in Model)
    {
        <tr>
            <td>               
                @Html.DisplayFor(modelItem => item.DataName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @{
                    string DownloadURL = "http://" + Request.Url.Host + ":" + Request.Url.Port + "/DataFiles/Download/" + item.Id;
                }
                <p><a class="btn btn-default" href=@DownloadURL>Download &raquo;</a></p>
            </td>
            <td>                
                @{
                    string DeleteURL = "http://" + Request.Url.Host + ":" + Request.Url.Port + "/DataFiles/Download/" + item.Id;
                }
                <p><a class="btn btn-default" href=@DeleteURL>Download &raquo;</a></p>
                @Html.ActionLink("Delete Me", "Delete", new { fileId = item.Id })
            </td>
        </tr>
    }

</table>

