@model WBD_ASPNET_MVC5.Models.Project
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details for @Html.DisplayFor(model => model.ProjectName)</h1>

<p>Owner: @Html.DisplayFor(model => model.OwnerID)</p>

<h2>Brief Description</h2>
<p>
    @Html.DisplayFor(model => model.BriefDescription)
</p>

<h2>Long Description</h2>
<p>
    @Html.DisplayFor(model => model.LongDescription)
</p>

<p>
    @Html.ActionLink("Add New Users to Project", "AddUser", new { id = Model.Id })
</p>