@model WBD_ASPNET_MVC5.Models.ProjectUserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details for @Html.DisplayFor(model => model.project.ProjectName)</h1>

<p>Owner: @Html.DisplayFor(model => model.OwnerFirstLastName)</p>

<h2>Brief Description</h2>
<p>
    @Html.DisplayFor(model => model.project.BriefDescription)
</p>

<h2>Long Description</h2>
<p>
    @Html.DisplayFor(model => model.project.LongDescription)
</p>

<p>
    @Html.ActionLink("View the members of this project", "ViewProjectUsers", new { id = Model.project.Id })
</p>