@model WBD_ASPNET_MVC5.Models.ProjectUserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details for @Html.DisplayFor(model => model.project.ProjectName)</h1>

<p>Owner: @Html.DisplayFor(model => model.OwnerFirstLastName)</p>

<h2>Brief Description</h2>
<p>
    @Html.DisplayFor(model => model.project.BriefDescription)
</p>

<h2>Long Description</h2>
<div class="CommentP" style="width:500px;">
    @Html.DisplayFor(model => model.project.LongDescription)
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Project Members</h3>
        <p>
            @{
                string MembersURL = "http://" + Request.Url.Host + ":" + Request.Url.Port + "/ProjectPage/ViewProjectUsers/" + Model.project.Id;
            }
            <p><a class="btn btn-default" href=@MembersURL>View All &raquo;</a></p>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Project Files</h3>
        @{
            string DataURL = "http://" + Request.Url.Host + ":" + Request.Url.Port + "/ProjectPage/ViewProjectData/" + Model.project.Id;
        }
        <p><a class="btn btn-default" href=@DataURL>View All &raquo;</a></p>
    </div>
</div>

<p>
    @Html.ActionLink("Return to Projects", "Index", "Project")
</p>