@model WBD_ASPNET_MVC5.Models.DataProjectListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
     @Html.DisplayFor(model => model.project.ProjectName) Data Files
</h1>

<p>
    @Html.ActionLink("Add New Data", "AddData", "ProjectPage", new { id = Model.project.Id }, null) |
    @Html.ActionLink("Project Details", "Details", "ProjectPage", new { id = Model.project.Id }, null)
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Data Type")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th>
            @Html.DisplayName("Upload Date")
        </th>
        <th>

        </th>
    </tr>

    @if (Model.data.Any()) {
        for (int i = 0; i < Model.data.Count; i++ )
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.data[i].DataName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.data[i].DataCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.data[i].Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.data[i].UploadDate)
                </td>
                <td>
                    @Html.ActionLink("Download", "Download", "DataFiles", new { fileId = Model.data[i].Id }, null)
                </td>
                <td>
                    @Html.ActionLink("Remove", "UnlinkDataFromProject", new { id = Model.project.Id, dataid = Model.data[i].Id })
                </td>
            </tr>
        }
    }
    @ViewBag.EmptyProject
</table>